@use '../base/gral-styles' as *;

/*terminar de anidar y pasar variables/ usar use / luego hacer components*/
body {
    // color: #f6f2f5;
    .mainWrapper {
        /*Hero*/
        .heroWrapper {
            color: $gral-white;
            display: flex;
            background-image: url("../img/mainBackground.jpeg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            .heroTitle {
                padding: $gral-padding;
                margin: 8% 0% 12% 0%;
                @media screen and (max-width: 480px) {
                    padding: 2% 0% 2% 0%;
                }
                .title {
                    font-size: 2.6rem;
                    padding-left: 1rem;
                    background: linear-gradient(
                        79deg,
                        rgba(168, 0, 112, 0.5662640056022409) 20%,
                        rgba(242, 34, 173, 0.4682247899159664) 40%,
                        rgba(255, 255, 255, 0.039653361344537785) 85%
                    );
                    @media screen and (max-width: 480px) {
                        font-size: 8vw;
                    }
                }
            }
        }
        .heroDescription {
            font-size: 1.2rem;
            padding-left: 1rem;
            max-width: 60%;
            line-height: 1.5rem;
            background: linear-gradient(
                79deg,
                rgba(168, 0, 112, 0.5662640056022409) 20%,
                rgba(242, 34, 173, 0.4682247899159664) 40%,
                rgba(255, 255, 255, 0.039653361344537785) 85%
            );
            @media screen and (max-width: 768px) {
                max-width: 90%;
            }
            @media screen and (max-width: 480px) {
                font-size: 3.8vw;
                line-height: 1.25rem;
            }
        }
        /*btns courses and careers*/
        .btnCoursesCareers {
            padding: $gral-padding;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            column-gap: 10%;
            row-gap: 5%;
            margin: $gral-margin;

            .careers,
            .courses {
                .btn {
                    @include btn(12% 8%, 1.5rem);
                }
            }
        }
        /*banner*/
        .bannerContainer {
            padding: $gral-padding;
            position: relative;
            height: 46vw;

            @media screen and (max-width: 768px) {
                height: 60vh;
                padding: 0;
                height: fit-content;
                position: static;
            }

            .bannerWrapper {
                height: inherit;
                position: relative;

                @media screen and (max-width: 480px) {
                    position: static;
                }
                .banner {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    height: inherit;
                    transition: opacity 0.5s;

                    @media screen and (max-width: 768px) {
                        position: relative;
                        padding: 1%;
                        opacity: 1;
                    }
                    @media screen and (max-width: 480px) {
                        width: 100%;
                        position: static;
                    }
                    &:first-child {
                        opacity: 1;
                    }
                    &:target {
                        opacity: 1;
                    }
                    .bannerLink {
                        .bannerImg {
                            width: 100%;
                            object-fit: cover;
                            box-shadow: 0px 8px 28px 4px #000;
                        }
                    }
                }
            }
            .menu {
                text-align: center;
                position: absolute;
                left: 48%;
                top: 94%;
                opacity: 75%;

                @media screen and (max-width: 768px) {
                    display: none;
                }
                li {
                    display: inline-block;
                    text-align: center;
                    a {
                        display: inline-block;
                        background-color: rgb(247, 244, 244);
                        width: 1.8vw;
                        height: 1.8vw;
                        font-size: 1.5vw;
                        text-align: center;
                        border-radius: 50%;
                        opacity: 70%;
                    }
                }
            }
        } /*banner container*/
        /*blog*/
        .cardsContainer {
            padding: $gral-padding;
            margin: $gral-margin;
            @media screen and (max-width: 768px) {
                padding: $mobile-padding;
            }
            .cardsMainTitle {
                text-align: center;
                font-size: 1.8rem;
                color: $gral-white;
                margin-bottom: 2%;
                @media screen and (max-width: 768px) {
                    font-size: 4.3vw;
                }
            }
        }
        .blogButtonWrapper {
            text-align: center;
            margin-top: 2%;
            @media screen and (max-width: 480px) {
                margin-top: 5%;
            }
            .blogButton {
                width: 30%;
                background-color: transparent;
                @media screen and (max-width: 480px) {
                    width: 80%;
                }
                .btn {
                    @include btn(2% 0%, 1rem); // display: block;
                    font-weight: 600;
                }
            }
        }

        /*blog wrapper*/
        /*video*/
        .videoContainer {
            margin: $gral-margin;
            background-image: url("../img/fondo-espacio.jpg");
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            min-height: 60vh;
            padding: $gral-padding;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 768px) {
                min-height: 50vh;
                padding: 0;
            }
            .videoWrapper {
                min-width: 50%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                iframe {
                    width: 100%;
                    min-height: 40vh;
                }
            }
        }

        /*Brands*/
        .brandsContainer {
            padding: $gral-padding;
            margin: $gral-margin;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 768px) {
                padding: $mobile-padding;
            }
            .brandsWrapper {
                background-color: #f6f2f5;
                padding: 0% 1% 5% 1%;
                display: grid;
                grid-template: 1fr 2fr 2fr / repeat(5, 2fr);
                grid-template-columns: fill;
                gap: 1%;
                align-items: center;
                justify-items: center;
                box-shadow: -1px 1px 23px 10px black;

                .brandsTitle {
                    grid-column: 1/6;
                    .title {
                        color: #080808;
                        font-size: 1.3rem;
                        font-weight: 700;
                        @media screen and (max-width: 480px) {
                            font-size: 4vw;
                        }
                    }
                }
                .brands {
                    display: block;
                    width: 70%;
                }
            }
        }
    } /*main wrapper*/
}
