@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    // border: solid red 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "roboto", sans-serif;
}

//variables css
$gral-padding: 1% 10% 1% 10%;
$mobile-padding: 1% 2% 1% 2%;
$gral-margin: 5% 0% 5% 0%;
$gral-white: #f0f0f0;
$gral-magenta: #d2008d;
$gral-black: #080808;
$snd-black: #454545;

//mixins
@mixin center($orientation) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $orientation;
}
@mixin btn($padding, $fontSize) {
    @include center(row);
    color: #f6f2f5;
    font-size: $fontSize;
    padding: $padding;
    border: black 1px solid;
    background: linear-gradient(
        180deg,
        rgba(168, 0, 112, 0.5662640056022409) 20%,
        rgba(242, 34, 173, 0.23012955182072825) 67%
    );
    box-shadow: 0px 3px 29px 1px rgba(0, 0, 0, 1);

    &:hover {
        background-color: #a80070;
        border: #a80070;
        transition: all 0.3s ease-in-out;
    }
    &:active {
        box-shadow: 0 0px 0.5rem 0.5rem #a80070;
        transition: all 0.1s ease-in-out;
    }
    @media screen and (max-width: 480px) {
        font-size: 1rem;
        padding: 5% 2% 5% 2%;
    }
}

body {
    background: linear-gradient(4deg, rgba(82, 37, 189, 1) 29%, rgba(0, 0, 0, 1) 100%);
    padding-top: 6.5%;
    @media screen and (max-width: 768px) {
        padding-top: 10%;
    }
    color: #f6f2f5;
}
