@use '../base/gral-styles' as *;

.cardsWrapper {
    margin: 2% 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 0%;
        padding: $gral-padding;
    }

    .card {
        height: 22vw;
        width: 100%;
        display: grid;
        grid-template: 70% 30%/1fr;
        margin: 1%;
        background-color: #f6f2f5;
        border: solid 1px black;
        box-shadow: -1px 3px 12px 0px black;

        @media screen and (max-width: 768px) {
            height: 50vw;
        }
        &:hover {
            box-shadow: -1px 3px 24px 4px black;
            transition: 0.3s box-shadow 0s;
        }
        &:active {
            box-shadow: -1px 3px 24px 4px black;
            transition: 0.3s box-shadow 0s;
        }
        .cardImg {
            width: 100%;
            display: flex;
            overflow: hidden;
            .img {
                width: 100%;
                flex-grow: 1;
            }
        }
        .cardTitle {
            @include center(row);
            .title {
                color: #080808;
                text-align: center;
                padding: 3%;
                @media screen and (max-width: 1024px) {
                    font-size: 1.8vw;
                }
                @media screen and (max-width: 768px) {
                    font-size: 2.6vw;
                }
                @media screen and (max-width: 480px) {
                    font-size: 3.5vw;
                }
            }
        }
    }
}
