@use '../base/gral-styles' as *;
/*footer*/
.footer {
    display: flex;
    background-color: #f6f2f5;
    padding: 0.5% 10% 1% 10%;
    color: #080808;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 0.5% 1% 1% 1%;
    }

    .logoLocationWrapper {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media screen and (max-width: 768px) {
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .logoFooterLink {
            display: block;
            width: 20%;

            @media screen and (max-width: 768px) {
                width: 12vw;
            }
            .logoFooter {
                width: 100%;
            }
        }
        .legal {
            font-size: 1vw;
            margin-left: 1%;

            @media screen and (max-width: 768px) {
                font-size: 2vw;
            }
        }
        .locationWrapper {
            display: flex;
            padding: 3% 2% 2% 0%;

            @media screen and (max-width: 768px) {
                justify-content: center;
            }

            .mapIcon {
                display: block;
                width: 5%;
                padding-right: 1%;
            }
            .location {
                color: #080808;
                font-weight: 500;

                @media screen and (max-width: 768px) {
                    font-size: 2.5vw;
                }
            }
        }
    }
    .redesWrapper {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
        /* padding-top: 3%; */

        @media screen and (max-width: 768px) {
            width: 100%;
        }
        .linkImg {
            display: flex;
            width: 8%;

            @media screen and (max-width: 768px) {
                width: 5%;
            }
            .netImg {
                display: flex;
                width: 100%;
            }
        }
    }
}
