@use '../base/gral-styles' as *;

.heroWrapper {
    background-image: url(../../img/universoRosa.jpg); //carreras
    background-position: top;
    background-size: cover;
    height: 45vh;
    @include center(row);

    &.courses {
        // cursos
        background: $gral-black url(../../img/galaxia.jpg);
    }
    &.systems {
        //sistemas
        background: $gral-black url(../../img/sistemas2.jpg);
        background-position: center;
        background-blend-mode: difference;
    }
    &.frontend {
        //frontend
        background: $gral-black url(../../img/frontend2.jpg);
        background-position: center;
        background-size: cover;
        background-blend-mode: difference;
    }
    .heroTitle {
        color: $gral-white;
        @media all and (max-width: 768px) {
            font-size: 5.5vw;
        }
    }
}
